.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.buttons {
    display: inline-flex;
    gap: 8px;
}
.label {
    display: block;
}

.accent {
    color: var(--cl-accent);
}
.accentBorder {
    border-color: var(--cl-accent);
}

.input {
    border-color: var(--input-hover-color);
}