.container {
    width: 100%;
    position: relative;
}

.searchIcon, .clear {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.searchIcon {
    pointer-events: none;

    left: 12px;
}
.clear {
    cursor: pointer;
    right: 12px;
}
