.movie {
    display: flex;
    padding: 24px;
    gap: 24px;
    background-color: var(--cl-light);
    border-radius: var(--border-radius);
    cursor: pointer;
    align-items: flex-start;
}

.movie__poster {
    flex: 0 0 100px;
    height: 120px;
    border-radius: var(--border-radius);
}

.movie__info {
    flex-grow: 1;
}

.movie__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 16px;
}

.movie__details {
    display: grid;
    grid-template-columns: max-content minmax(auto, 600px);
    gap: 12px 16px;
}

.movie__label {
    color: var(--cl-light-grey);
}
.movie__genre {
    text-transform: capitalize;
}